azureDataFactory/pipeline/ingest_updatetimestamp_tables_incremental.json
{
	"name": "ingest_updatetimestamp_tables_incremental",
	"properties": {
		"activities": [
			{
				"name": "Get Timestamp from Source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT COALESCE(MAX( \n    @{pipeline().parameters.IncrementalColumn}\n    )\n    , '1900-01-01T00:00:00Z') AS NewCheckpoint\nFROM \n\t[@{pipeline().parameters.SchemaName}].[@{pipeline().parameters.TableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_datamart_table_sql_src",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"TableSchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"ConnectionString": {
								"value": "@pipeline().parameters.ConnectionString",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set Source Timestamp as NewCheckPoint",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Timestamp from Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NewCheckpoint",
					"value": {
						"value": "@if(\n    contains(\n        activity('Get Timestamp from Source').output, 'firstRow'\n        ),\n    activity('Get Timestamp from Source').output.firstRow.NewCheckpoint,\n    '1900-01-01T00:00:00Z'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Timestamp from Checkpoint",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_datamart_raw_checkpoint",
						"type": "DatasetReference",
						"parameters": {
							"Tenant": {
								"value": "@pipeline().parameters.TenantName",
								"type": "Expression"
							},
							"Product": {
								"value": "@pipeline().parameters.ProductName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set Existing Timestamp as CheckPoint",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Timestamp from Checkpoint",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CheckPoint",
					"value": {
						"value": "@if(\n    contains(\n        activity('Get Timestamp from Checkpoint').output, 'firstRow'\n        ),\n    activity('Get Timestamp from Checkpoint').output.firstRow.RawCheckpoint,\n    '1800-01-01T00:00:00Z'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch Check Checkpoint",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set Source Timestamp as NewCheckPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Existing Timestamp as CheckPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@if(\n        equals(\n            variables('CheckPoint'),\n            variables('NewCheckpoint')\n        ),\n        'OldCheckpoint',\n        'NewCheckpoint'\n    )",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "NewCheckpoint",
							"activities": [
								{
									"name": "Copy table data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set List of columns",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "DECLARE @DynamicSQL NVARCHAR(MAX)\n\nSET @DynamicSQL = 'SELECT\n\t@{variables('TableListOfColumns')},\n\t@{pipeline().parameters.IncrementalColumn},\n\t''IU'' AS Flag,\n\t''@{pipeline().parameters.ADFRunId}'' AS ADFRunId,\n\tGETDATE() AS LoadDate\nFROM\n\t[@{pipeline().parameters.SchemaName}].[@{pipeline().parameters.TableName}]\nWHERE\n\tCOALESCE(@{pipeline().parameters.IncrementalColumn}, ''1900-01-01T00:00:00Z'') > ''@{variables('CheckPoint')}'' \n\tAND COALESCE(@{pipeline().parameters.IncrementalColumn}, ''1900-01-01T00:00:00Z'') <= ''@{variables('NewCheckpoint')}''\n'\nEXEC sp_executesql @DynamicSQL;",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 1,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_datamart_table_sql_src",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"TableSchemaName": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												},
												"ConnectionString": {
													"value": "@pipeline().parameters.ConnectionString",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_datamart_table_dls_dest",
											"type": "DatasetReference",
											"parameters": {
												"Tenant": {
													"value": "@pipeline().parameters.TenantName",
													"type": "Expression"
												},
												"Product": {
													"value": "@pipeline().parameters.ProductName",
													"type": "Expression"
												},
												"TableName": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												},
												"LoadDate": {
													"value": "@pipeline().parameters.LoadDate",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Get List of columns",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:15:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "\nSELECT STUFF((\n\tSELECT\n\t\t', [' + sysC.name + ']'\n\tFROM \n\t\tsys.columns AS sysC\t\n\tINNER JOIN sys.tables AS sysT\n\t\tON sysC.object_id = sysT.object_id\n\tINNER JOIN sys.schemas AS sysS\n\t\tON sysT.schema_id = sysS.schema_id\t\t\n\tWHERE\n\t\tsysS.name = '@{pipeline().parameters.SchemaName}'\n\t\tAND sysT.name = '@{pipeline().parameters.TableName}'\n\t\tAND sysC.name NOT IN ('@{pipeline().parameters.IncrementalColumn}')\n\tORDER BY\n\t\tsysC.name\n\tFOR XML PATH('')\n), 1, 1, '') AS [output]\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_datamart_table_sql_src",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"TableSchemaName": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												},
												"ConnectionString": {
													"value": "@pipeline().parameters.ConnectionString",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Set List of columns",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get List of columns",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "TableListOfColumns",
										"value": {
											"value": "@activity('Get List of columns').output.firstRow.output",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Save CheckPoint",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy table data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT\n    '@{variables('NewCheckpoint')}' AS RawCheckpoint,\n    '@{pipeline().parameters.ADFRunId}' AS ADFRunId",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 1,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_datamart_table_sql_src",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"TableSchemaName": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												},
												"ConnectionString": {
													"value": "@pipeline().parameters.ConnectionString",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_datamart_raw_checkpoint",
											"type": "DatasetReference",
											"parameters": {
												"Tenant": {
													"value": "@pipeline().parameters.TenantName",
													"type": "Expression"
												},
												"Product": {
													"value": "@pipeline().parameters.ProductName",
													"type": "Expression"
												},
												"TableName": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TenantName": {
				"type": "string"
			},
			"ProductName": {
				"type": "string"
			},
			"SchemaName": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"IncrementalColumn": {
				"type": "string"
			},
			"PrimaryKeyColumn": {
				"type": "string"
			},
			"ConnectionString": {
				"type": "string"
			},
			"LoadDate": {
				"type": "string"
			},
			"ADFRunId": {
				"type": "string"
			}
		},
		"variables": {
			"TableDateCheckpoint": {
				"type": "String",
				"defaultValue": "1900-01-01T00:00:00Z"
			},
			"NewCheckpoint": {
				"type": "String"
			},
			"CheckPoint": {
				"type": "String"
			},
			"TableListOfColumns": {
				"type": "String"
			}
		},
		"folder": {
			"name": "others"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-10T01:02:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}