azureDataFactory/pipeline/ingest_systemversioned_tables_full.json
{
	"name": "ingest_systemversioned_tables_full",
	"properties": {
		"activities": [
			{
				"name": "LIVE Source Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT count(*) as cnt',\n        ' FROM ', pipeline().parameters.SchemaName, '.[', pipeline().parameters.TableName,\n        '] FOR SYSTEM_TIME ALL WHERE [ValidTo] > ''9999-12-31''')\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_reference_table_sql_src",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"TableSchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"ConnectionString": {
								"value": "@pipeline().parameters.ConnectionString",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set LIVE Source Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LIVE Source Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LiveDataExistsOrNot",
					"value": {
						"value": "@if(\n    greater(activity('LIVE Source Count').output.firstRow.cnt, 0),\n    'Yes',\n    'No'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch LIVE Source Count",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set LIVE Source Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@if(\n        equals(\n            variables('LiveDataExistsOrNot'),\n            'Yes'\n        ),\n        'Load',\n        'NoLoad'\n    )",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Load",
							"activities": [
								{
									"name": "Ingest SystemVersioned Current Tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "ADFRunId",
													"value": {
														"value": "@pipeline().parameters.ADFRunId",
														"type": "Expression"
													}
												},
												{
													"name": "Flag",
													"value": "I"
												}
											],
											"sqlReaderQuery": {
												"value": "@concat('SELECT *, [ValidFrom], [ValidTo], GETDATE() as LoadDate',\n        ' FROM ', pipeline().parameters.SchemaName, '.[', pipeline().parameters.TableName,\n        '] FOR SYSTEM_TIME ALL WHERE [ValidTo] > ''9999-12-31''')\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_reference_table_sql_src",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"TableSchemaName": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												},
												"ConnectionString": {
													"value": "@pipeline().parameters.ConnectionString",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_reference_table_dls_dest",
											"type": "DatasetReference",
											"parameters": {
												"Tenant": {
													"value": "@pipeline().parameters.TenantName",
													"type": "Expression"
												},
												"Product": {
													"value": "@pipeline().parameters.ProductName",
													"type": "Expression"
												},
												"Table": {
													"value": "@toLower(pipeline().parameters.TableName)",
													"type": "Expression"
												},
												"LoadDate": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"Schema": {
													"value": "@toLower(pipeline().parameters.SchemaName)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "HIST Source Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT count(*) as cnt',\n        ' FROM ', pipeline().parameters.HistoryTableSchemaName, '.[', pipeline().parameters.HistoryTableName,\n        ']')\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_reference_table_sql_src",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.HistoryTableName",
								"type": "Expression"
							},
							"TableSchemaName": {
								"value": "@pipeline().parameters.HistoryTableSchemaName",
								"type": "Expression"
							},
							"ConnectionString": {
								"value": "@pipeline().parameters.ConnectionString",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set HIST Source Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "HIST Source Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "HistoryDataExistsOrNot",
					"value": {
						"value": "@if(\n    greater(activity('HIST Source Count').output.firstRow.cnt, 0),\n    'Yes',\n    'No'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch HIST Source Count",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set HIST Source Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@if(\n        equals(\n            variables('HistoryDataExistsOrNot'),\n            'Yes'\n        ),\n        'Load',\n        'NoLoad'\n    )",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Load",
							"activities": [
								{
									"name": "Ingest SystemVersioned History Tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "ADFRunId",
													"value": {
														"value": "@pipeline().parameters.ADFRunId",
														"type": "Expression"
													}
												},
												{
													"name": "Flag",
													"value": "I"
												}
											],
											"sqlReaderQuery": {
												"value": "@concat('SELECT *, GETDATE() as LoadDate',\n        ' FROM ', pipeline().parameters.HistoryTableSchemaName, '.[', pipeline().parameters.HistoryTableName,\n        ']')\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_history_reference_table_sql_src",
											"type": "DatasetReference",
											"parameters": {
												"HistoryTableName": {
													"value": "@pipeline().parameters.HistoryTableName",
													"type": "Expression"
												},
												"HistoryTableSchemaName": {
													"value": "@pipeline().parameters.HistoryTableSchemaName",
													"type": "Expression"
												},
												"ConnectionString": {
													"value": "@pipeline().parameters.ConnectionString",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_reference_table_dls_dest",
											"type": "DatasetReference",
											"parameters": {
												"Tenant": {
													"value": "@pipeline().parameters.TenantName",
													"type": "Expression"
												},
												"Product": {
													"value": "@pipeline().parameters.ProductName",
													"type": "Expression"
												},
												"Table": {
													"value": "@toLower(pipeline().parameters.HistoryTableName)",
													"type": "Expression"
												},
												"LoadDate": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"Schema": {
													"value": "@toLower(pipeline().parameters.HistoryTableSchemaName)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TenantName": {
				"type": "string"
			},
			"ProductName": {
				"type": "string"
			},
			"SchemaName": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"IncrementalColumn": {
				"type": "string"
			},
			"HistoryTableSchemaName": {
				"type": "string"
			},
			"HistoryTableName": {
				"type": "string"
			},
			"HistoryIncrementalColumn": {
				"type": "string"
			},
			"PrimaryKeyColumn": {
				"type": "string"
			},
			"ConnectionString": {
				"type": "string"
			},
			"LoadDate": {
				"type": "string"
			},
			"ADFRunId": {
				"type": "string"
			}
		},
		"variables": {
			"LiveDataExistsOrNot": {
				"type": "String"
			},
			"HistoryDataExistsOrNot": {
				"type": "String"
			}
		},
		"folder": {
			"name": "others"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-11T10:44:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}